@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}


.wd-header-spacing {
    padding-left: 20px;
}

.wd-inline {
    display: flex;
    align-items: center;
}

.wd-card-title-spacing {
    padding-left: 10px;
}

.wd-main {
    background-color: white;
}


.wd-header-right {
    margin-left: auto;
}

.wd-tuit-header {
    display: flex;
    align-items: center;
}

.wd-profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 5px;
}

.wd-profile-name {
    font-weight: bold;
    color: #333333;
    margin-right: 5px;
}

.wd-user-tag {
    margin-left: 5px;
    color: rgba(128, 128, 128, 0.8);
}

.wd-tuit-body {
    padding-left: 50px;
    padding-right: 50px;
}

.wd-tuit-text {
    word-wrap: break-word;
}


.wd-card {
    width: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;
}
  
.wd-card img {
    width: 100%;
    height: auto;
}

.wd-card-content {
    padding-left: 5px;
    padding-right: 5px;
}
  
.wd-card-website {
    color: rgba(128, 128, 128, 0.8);
}

.wd-card-title {
    color: black;
    font-size: large;
}

.wd-tuit-buttons {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
}

.wd-icons {
    color: gray;
    opacity: 0.8;
}

.wd-number-spacing {
    color: gray;
    opacity: 0.8;
}

.wd-tuit {
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
}
  